<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!-- Tell the browser to be responsive to screen width -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="keywords"
    content="wrappixel, admin dashboard, html css dashboard, web dashboard, bootstrap 5 admin, bootstrap 5, css3 dashboard, bootstrap 5 dashboard, Flexy lite admin bootstrap 5 dashboard, frontend, responsive bootstrap 5 admin template, Flexy admin lite design, Flexy admin lite dashboard bootstrap 5 dashboard template">
  <meta name="description"
    content="Flexy Admin Lite is powerful and clean admin dashboard template, inpired from Bootstrap Framework">
  <meta name="robots" content="noindex,nofollow">
  <title>Flexy Admin Lite Template by WrapPixel</title>
  <link rel="canonical" href="https://www.wrappixel.com/templates/Flexy-admin-lite/" />
  <!-- Favicon icon -->
  <link rel="icon" type="image/png" sizes="16x16" href="/admin/assets/images/favicon.png">
  <!-- Custom CSS -->
  <link href="/admin/dist/css/style.min.css" rel="stylesheet">
  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
</head>

<body>

  <style>
    .form-control {

      display: block;
      width: 100%;
      padding: 0.375rem 0.75rem;
      font-size: 0.9375rem;
      font-weight: 400;
      line-height: 1.5;
      color: #151515;
      background-color: #f2f2f2;

      border: 1px solid #ecf0f2;


      transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }

      {
        {
        !-- form {
          background-color: rgb(255, 255, 255);
        }

        label {
          font-color: rgb(0, 0, 0);
        }

        input {
          color: antiquewhite;
        }

        --
      }
    }

    .container-fluid {
      background-color: rgb(222, 222, 222);
      display: flex;
      justify-content: center;
      align-items: center;

    }

    textarea {


      border: solid;
      background-color: aqua;
    }

    .add-product {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 8vh;
    }

    .productlist {
      width: 20vh;
      position: relative;
      margin-right: 20px;
      cursor: pointer;
    }

    .productlist img {
      width: 100%;
      padding-left: 2vh;
    }
  </style>


  <!-- ============================================================== -->
  <!-- Preloader - style you can find in spinners.css -->
  <!-- ============================================================== -->
  <div class="preloader">
    <div class="lds-ripple">
      <div class="lds-pos"></div>
      <div class="lds-pos"></div>
    </div>
  </div>
  <!-- ============================================================== -->
  <!-- Main wrapper - style you can find in pages.scss -->
  <!-- ============================================================== -->
  <div id="main-wrapper" data-layout="vertical" data-navbarbg="skin5" data-sidebartype="full"
    data-sidebar-position="absolute" data-header-position="absolute" data-boxed-layout="full">
    <!-- ============================================================== -->
    <!-- Topbar header - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <header class="topbar" data-navbarbg="skin6">
      <nav class="navbar top-navbar navbar-expand-md navbar-light">
        <div class="navbar-header" data-logobg="skin6">
          <!-- ============================================================== -->
          <!-- Logo -->
          <!-- ============================================================== -->
          <a class="navbar-brand" href="index.html">
            <!-- Logo icon -->
            <b class="logo-icon">
              <!--You can put here icon as well // <i class="wi wi-sunset"></i> //-->
              <!-- Dark Logo icon -->
              <img src="/admin/assets/images/logo-icon.png" alt="homepage" class="dark-logo" />
              <!-- Light Logo icon -->
              <img src="/admin/assets/images/logo-light-icon.png" alt="homepage" class="light-logo" />
            </b>
            <!--End Logo icon -->
            <!-- Logo text -->
            <span class="logo-text">
              <!-- dark Logo text -->
              <img src="/admin/assets/images/logo-text.png" alt="homepage" class="dark-logo" />
              <!-- Light Logo text -->
              <img src="/admin/assets/images/logo-light-text.png" class="light-logo" alt="homepage" />
            </span>
          </a>
          <!-- ============================================================== -->
          <!-- End Logo -->
          <!-- ============================================================== -->
          <!-- This is for the sidebar toggle which is visible on mobile only -->
          <a class="nav-toggler waves-effect waves-light d-block d-md-none" href="javascript:void(0)"><i
              class="mdi mdi-menu"></i></a>
        </div>
        <!-- ============================================================== -->
        <!-- End Logo -->
        <!-- ============================================================== -->
        <div class="navbar-collapse collapse" id="navbarSupportedContent" data-navbarbg="skin5">
          <!-- ============================================================== -->
          <!-- toggle and nav items -->
          <!-- ============================================================== -->
          <ul class="navbar-nav float-start me-auto">
            <!-- ============================================================== -->
            <!-- Search -->
            <!-- ============================================================== -->
            <li class="nav-item search-box"> <a class="nav-link waves-effect waves-dark" href="javascript:void(0)"><i
                  class="mdi mdi-magnify me-1"></i> <span class="font-16">Search</span></a>
              <form class="app-search position-absolute">
                <input type="text" class="form-control" placeholder="Search &amp; enter"> <a class="srh-btn"><i
                    class="mdi mdi-window-close"></i></a>
              </form>
            </li>
          </ul>
          <!-- ============================================================== -->
          <!-- Right side toggle and nav items -->
          <!-- ============================================================== -->
          <ul class="navbar-nav float-end">
            <!-- ============================================================== -->
            <!-- User profile and search -->
            <!-- ============================================================== -->
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle text-muted waves-effect waves-dark pro-pic" href="#"
                id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <img src="/admin/assets/images/users/profile.png" alt="user" class="rounded-circle" width="31">
              </a>
              <ul class="dropdown-menu dropdown-menu-end user-dd animated" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="javascript:void(0)"><i class="ti-user m-r-5 m-l-5"></i>
                  My Profile</a>
                <a class="dropdown-item" href="javascript:void(0)"><i class="ti-wallet m-r-5 m-l-5"></i>
                  My Balance</a>
                <a class="dropdown-item" href="javascript:void(0)"><i class="ti-email m-r-5 m-l-5"></i>
                  Inbox</a>
              </ul>
            </li>
            <!-- ============================================================== -->
            <!-- User profile and search -->
            <!-- ============================================================== -->
          </ul>
        </div>
      </nav>
    </header>
    <!-- ============================================================== -->
    <!-- End Topbar header -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Left Sidebar - style you can find in sidebar.scss  -->
    <!-- ============================================================== -->
    <aside class="left-sidebar" data-sidebarbg="skin6">
      <!-- Sidebar scroll-->
      <div class="scroll-sidebar">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
          <ul id="sidebarnav">
            <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link" href="#"
                aria-expanded="false"><i class="mdi mdi-view-dashboard"></i><span class="hide-menu">Dashboard</span></a>
            </li>
            <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link" href="/admin/users"
                aria-expanded="false"><i class="mdi mdi-account-network"></i><span class="hide-menu">User
                  Managment</span></a></li>
            <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link" href="/admin/product"
                aria-expanded="false"><i class="mdi mdi-border-all"></i><span class="hide-menu">Product
                  Management</span></a></li>
            <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link"
                href="/admin/category" aria-expanded="false"><i class="mdi mdi-face"></i><span
                  class="hide-menu">Category Management</span></a></li>
            <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link" href="/admin/coupon"
                aria-expanded="false"><i class="mdi mdi-file"></i><span class="hide-menu">Coupon Management</span></a>
            </li>
            <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link" href="/admin/offer"
                aria-expanded="false"><i class="mdi mdi-alert-outline"></i><span class="hide-menu">Banner
                  Management</span></a></li>
            <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link" href="/admin/orders"
                aria-expanded="false"><i class="mdi mdi-alert-outline"></i><span class="hide-menu">Orders
                  Management</span></a></li>
            <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link"
                href="/admin/salesReport" aria-expanded="false"><i class="mdi mdi-alert-outline"></i><span
                  class="hide-menu">Sales Report</span></a></li>
          </ul>

        </nav>
        <!-- End Sidebar navigation -->
      </div>
      <!-- End Sidebar scroll-->
    </aside>
    <!-- ============================================================== -->
    <!-- End Left Sidebar - style you can find in sidebar.scss  -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Page wrapper  -->
    <!-- ============================================================== -->
    <div class="page-wrapper">
      <div class="container">
        <div class=" text-center mt-5 ">
          <h1>Sales Report</h1>
        </div>
        <main id="main" class="main" style="margin-left: 5rem; padding-top: 5rem;">
          <section class="section dashboard">
            <div class="row">
              <div class="col-lg-8">
                <div class="row">
                  <div class="col-xxl-4 col-md-6">
                    <div class="card info-card sales-card" style="background-color: #FFFFFF;">
                      <div class="card-body">
                        <h5 class="card-title">Sales <span></span></h5>
                        <div class="d-flex align-items-center">
                          <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                            <i class="bi bi-cart"></i>
                          </div>
                          <div class="ps-3">
                            <h6>{{salesCount}}</h6>
                            <span class="text-success small pt-1 fw-bold">12%</span> <span
                              class="text-muted small pt-2 ps-1">increase</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-xxl-4 col-md-6">
                    <div class="card info-card revenue-card" style="background-color: #FFFFFF;">
                      <div class="card-body">
                        <h5 class="card-title">Revenue</h5>
                        <div class="d-flex align-items-center">
                          <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                            <i class="bi bi-currency-dollar"></i>
                          </div>
                          <div class="ps-3">
                            <h6><i class="bi bi-currency-rupee"></i>{{salesSum}}</h6>
                            <span class="text-success small pt-1 fw-bold">8%</span> <span
                              class="text-muted small pt-2 ps-1">increase</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-xxl-4 col-xl-12">
                    <div class="card info-card customers-card" style="background-color: #FFFFFF;">

                      <div class="card-body">
                        <h5 class="card-title">Customers</h5>
                        <div class="d-flex align-items-center">
                          <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                            <i class="bi bi-people"></i>
                          </div>
                          <div class="ps-3">
                            <h6>{{userCount}}</h6>
                            <span class="text-danger small pt-1 fw-bold">12%</span> <span
                              class="text-muted small pt-2 ps-1">decrease</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
          </section>
          <div class="mt-4">
            <div class="input-group">
              <form action="/admin/salesReport" method="get">
                From: <input class="form-control" type="date" name="startDate"> To: <input class="form-control"
                  type="date" name="endDate">

                <button type="submit" class="btn btn-sm btn-warning rounded mt-3">Filter</button>


              </form>
            </div>

              <div class=" mt-4" >
                  <a href="/admin/salesReport?filter=thisMonth" class="btn btn-sm btn-light" type="button" > This Month </a>
                  <a href="/admin/salesReport?filter=lastMonth" class="btn btn-sm btn-light" type="button" > Last Month </a>
                  <a href="/admin/salesReport?filter=thisYear" class="btn btn-sm btn-light" type="button" > This Year </a>
                  <a href="/admin/salesReport?filter=lastYear" class="btn btn-sm btn-light" type="button" > Last Year </a>
            </div>
            <div class="d-flex justify-content-end" style="margin-right: 5rem;">
              <button onclick=" downloadPdf()" class="btn btn-sm btn-warning rounded">Download as PDF</button>
              <button onclick=" downloadExcel()" class="ms-3 btn btn-sm btn-warning rounded">Download as
                Excel</button>
            </div>
            <h3 class="text-dark mt-4">Orders</h3>
            <div class="card mt-3" style="margin-right: 5rem;">
              <div class="card-body pt-2">

                <table class="table table-hover table-borderless mt-2 ">
                  <thead>
                    <tr>
                      <th scope="col">Id</th>
                      <th scope="col">User</th>
                      <th scope="col">Product</th>
                      <th scope="col">Order Date</th>
                      <th scope="col">Amount</th>
                      <th scope="col">Quantity</th>
                      <th scope="col">Status</th>
                      <th scope="col">Payment Status</th>

                    </tr>
                  </thead>
                  <tbody>
                    {{#each deliveredOrders}}
                    <tr>
                      <th scope="row">{{inc @index}}</th>
                      <td>{{this.address.name}}</td>
                      <td>{{this.products.[0].product.name}}</td>

                      <td>{{this.createdAt}}</td>
                      <td>{{this.paymentIntent.amount}}</td>
                      <td>{{this.products.[0].quantity}}</td>
                      <td> <span class="badge text-bg-success">{{this.orderStatus}}</span></td>
                      <td>Paid</td>
                    </tr>
                    {{/each}}
                  </tbody>
                </table>
              </div>
            </div>

          </div>


        </main>


      </div>



      <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
      <script
        src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/3.5.25/jspdf.plugin.autotable.min.js"></script>
      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.13.1/xlsx.full.min.js"></script>


      <script>
        let orders = []
        {{#each deliveredOrders}}
        orders.push(['{{this.address.name}}', '{{this.products.[0].product.name}}', '{{this.createdAt}}', '{{this.paymentIntent.amount}}', '{{this.products.[0].quantity}}'
          , '{{this.orderStatus}}'])
        {{/each}}
            let totalRevenue = '{{salesSum}}'
            let totalOrders = '{{salesCount}}'
            let Customers = '{{userCount}}'
            const { jsPDF } = window.jspdf;
            function downloadPdf() {
              const doc = new jsPDF();
              doc.text(15, 20, "croza store");
              doc.autoTable({
                head: [['Type', 'Details']],
                body: [
                  ['Total Sales', totalOrders],
                  ['Total Revenue', totalRevenue],
                  ['Total Customers', Customers],
                ],
                startY: 40
              })
              doc.text(15, doc.lastAutoTable.finalY + 20, "order info");
              doc.autoTable({
                head: [['UserName', 'Product', 'Odrer Date', 'Amount', 'Quantity', "Status"]],
                body: orders,
                startY: doc.lastAutoTable.finalY + 30
              })
              doc.save('sales-report.pdf');
            }
            function downloadExcel() {
              let report = [
                { type: "Total Sales", value: totalOrders },
                { type: "Total Revenue", value: totalRevenue },
                { type: "Total Customers", value: Customers },
              ]

              var sheet1 = XLSX.utils.json_to_sheet(report);
              var wb = XLSX.utils.book_new();
              XLSX.utils.book_append_sheet(wb, sheet1, "Sales Report");


              XLSX.writeFile(wb, 'sales-report.xlsx');
            }

      </script>
      <!-- ============================================================== -->
      <!-- End Wrapper -->
      <!-- ============================================================== -->
      <!-- ============================================================== -->
      <!-- All Jquery -->
      <!-- ============================================================== -->
      <script src="/admin/assets/libs/jquery/dist/jquery.min.js"></script>
      <!-- Bootstrap tether Core JavaScript -->
      <script src="/admin/assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
      <script src="/admin/dist/js/app-style-switcher.js"></script>
      <!--Wave Effects -->
      <script src="/admin/dist/js/waves.js"></script>
      <!--Menu sidebar -->
      <script src="/admin/dist/js/sidebarmenu.js"></script>
      <!--Custom JavaScript -->
      <script src="/admin/dist/js/custom.js"></script>
</body>

</html>