<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!--===============================================================================================-->
  <link rel="icon" type="/image/png" href="/images/icons/favicon.png" />
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="/vendor/bootstrap/css/bootstrap.min.css">
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="/fonts/iconic/css/material-design-iconic-font.min.css">
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="/fonts/linearicons-v1.0.0/icon-font.min.css">
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="/vendor/animate/animate.css">
  {{!-- <!--===============================================================================================--> --}}
  <link rel="stylesheet" type="text/css" href="/vendor/css-hamburgers/hamburgers.min.css">
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="/vendor/animsition/css/animsition.min.css">
  <!--===============================================================================================-->
  {{!--
  <link rel="stylesheet" type="text/css" href="/vendor/select2/select2.min.css"> --}}
  <!--===============================================================================================-->
  {{!--
  <link rel="stylesheet" type="text/css" href="/vendor/daterangepicker/daterangepicker.css"> --}}
  <!--===============================================================================================-->
  {{!--
  <link rel="stylesheet" type="text/css" href="/vendor/slick/slick.css"> --}}
  <!--===============================================================================================-->
  {{!--
  <link rel="stylesheet" type="text/css" href="/vendor/MagnificPopup/magnific-popup.css"> --}}
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="/vendor/perfect-scrollbar/perfect-scrollbar.css">
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="/styles/main.css">
  <link rel="stylesheet" type="text/css" href="/styles/util.css">
  <!--===============================================================================================-->


</head>

<body class="animsition">

  <!-- Header -->
  <header>
    <!-- Header desktop -->
    <div class="container-menu-desktop">
      <!-- Topbar -->
      <div class="top-bar">
        <div class="content-topbar flex-sb-m h-full container">
          <div class="left-top-bar">
            Use coupon Holi offer 10% discount
          </div>

          <div class="right-top-bar flex-w h-full">
            <a href="#" class="flex-c-m trans-04 p-lr-25">
              Help & FAQs
            </a>

            <a href="/profile" class="flex-c-m trans-04 p-lr-25">
              My Account
            </a>


          </div>
        </div>
      </div>

      <div class="wrap-menu-desktop">
        <nav class="limiter-menu-desktop container">

          <!-- Logo desktop -->
          <a href="/" class="logo">
          <img src="/images/logo/shoe-fit-trans.png" alt="IMG-LOGO">
          </a>

          <!-- Menu desktop -->
          <div class="menu-desktop">
            <ul class="main-menu">
              <li class="active-menu">
                <a href="/">Home</a>
         
              </li>


              <li>
                <a href="/shop">Shop</a>
              </li>


              <li>
                <a href="contact.html">Contact</a>
              </li>
            </ul>
          </div>

    
          <div class="wrap-icon-header flex-w flex-r-m">
          
            <a href="/cart">
              <div class="icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11 icon-header-noti js-show-cart"
                data-notify="2">
                <i class="zmdi zmdi-shopping-cart"></i>
              </div>
            </a>

            <a href="/wishlist" class="dis-block icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11 icon-header-noti"
              data-notify="0">
              <i class="zmdi zmdi-favorite-outline"></i>
            </a>

            <div class="icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11 ">
              {{#if Log}}

              <div class="dropdown">
                <button class="btn btn-outline-dark me-0 btn-xs dropdown-toggle" type="button" data-bs-toggle="dropdown"
                  aria-expanded="false">
                  <i class="bi bi-person-circle me-2"></i> {{Log.username}}
                </button>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="/profile">Profile</a></li>
                  <li><a class="dropdown-item" href="/logout">Logout</a></li>
                </ul>
              </div>
              {{else}}
              <a href="/login">
                <button class="btn btn-outline-dark">Login</button>
              </a>
              {{/if}}
            </div>


          </div>
        </nav>
      </div>
    </div>

    <!-- Header Mobile -->
   <div class="wrap-header-mobile">
			<!-- Logo moblie -->
			<div class="logo-mobile">
				<a href="/"><img src="/images/logo/shoe-fit-trans.png" alt="IMG-LOGO"></a>
			</div>

			<!-- Icon header -->
			<div class="wrap-icon-header flex-w flex-r-m m-r-15">
				<div class="icon-header-item cl2 hov-cl1 trans-04 p-r-11 js-show-modal-search">
					<i class="zmdi zmdi-search"></i>
				</div>
				<a href="/cart">
					<div class="icon-header-item cl2 hov-cl1 trans-04 p-r-11 p-l-10 icon-header-noti js-show-cart"
						data-notify="3">
						<i class="zmdi zmdi-shopping-cart"></i>
					</div>
				</a>


				<a href="/wishlist" class="dis-block icon-header-item cl2 hov-cl1 trans-04 p-r-11 p-l-10 icon-header-noti"
					data-notify="0">
					<i class="zmdi zmdi-favorite-outline"></i>
				</a>

			</div>

			<!-- Button show menu -->
			<div class="btn-show-menu-mobile hamburger hamburger--squeeze">
				<span class="hamburger-box">
					<span class="hamburger-inner"></span>
				</span>
			</div>
		</div>


		<!-- Menu Mobile -->
		<div class=" p-0 menu-mobile">
			<ul class="topbar-mobile">
				<li>
					<div class="left-top-bar">
						Use
					</div>
				</li>

				<li>
					<div class="right-top-bar flex-w h-full">


						<a href="/profile" class="flex-c-m p-lr-10 trans-04">
							My Account
						</a>


					</div>
				</li>
			</ul>

			<ul class="main-menu-m">
				<li>
					<a href="/">Home</a>

					<span class="arrow-main-menu-m">
						<i class="fa fa-angle-right" aria-hidden="true"></i>
					</span>
				</li>

				<li>
					<a href="/shop">Shop</a>
				</li>
				
			</ul>
		</div>

  </header>


	<!-- Shoping Cart -->
	<div class="bg0 p-t-75 p-b-85">
		<div class="container">
			<div class="row">
				<div class="col-lg-10 col-xl-7 m-lr-auto m-b-50">
					{{#if cart.products}}
					<div class="m-l-25 m-r--38 m-lr-0-xl">
						<div class="wrap-table-shopping-cart">
							<table class="table-shopping-cart">
								<tr class="table_head">
									<th class="column-1">Product</th>
									<th class="column-2">name</th>
									<th class="column-3">Price</th>
									<th class="column-4">Quantity</th>
									<th class="column-5">Total</th>
								</tr>
								{{#each cart.products}}
								<tr class="table_row">
									<td class="column-1">
										<div class="how-itemcart1">
											<img src="{{this.product.image.url}}" alt="IMG">
										</div>
									</td>

									<td class="column-2" style="color: black;">{{this.product.name}}
									</td>
									<td>

									</td>

									<td class="column-3">{{this.price}}</td>
									<td class="column-4">
										<div class="wrap-num-product flex-w m-l-auto m-r-0">
											<div class="btn-num-product-down cl8 hov-btn3 m-l-2 trans-04 flex-c-m"
												onclick="changeQuantity('{{this._id}}','{{this.product._id}}',-1)">
												<i class="fs-16 zmdi zmdi-minus"></i>
											</div>
											<div class=" flex-c-m">
												<span id="{{this.product._id}}" class="m-2">{{this.quantity}}</span>
											</div>

											<div class="btn-num-product-up cl8 hov-btn3 trans-04 flex-c-m"
												onclick="changeQuantity('{{this._id}}','{{this.product._id}}',1)">
												<i class="fs-16 zmdi zmdi-plus"></i>
											</div>
										</div>
									</td>
									<td class="column-5"> <a href="/delete-cart/{{this.product._id}}" class="badge badge-light">X</a></td>
								</tr>
								{{/each}}

							</table>
						</div>
						{{#if cart.totalAfterDiscount}}
						<div class="flex-w flex-sb-m bor15 p-t-18 p-b-15 p-lr-40 p-lr-15-sm">

							<h6 class="text-primary ">Coupon applied successfully</h6>
						</div>

						{{else}}


						<div class="flex-w flex-sb-m bor15 p-t-18 p-b-15 p-lr-40 p-lr-15-sm">
							<section>
								<form id="myForm" action="/applyCoupon" method="post">
									{{#if error}}
									<p class="text-center fw-bold" style="color: rgb(190, 0, 0)">{{message}}</p>
									{{/if}}
									<div class="flex-w flex-m m-r-20 m-tb-5">

										<input class="stext-104 cl2 plh4 size-117 bor13 p-lr-20 m-r-10 m-tb-5" type="text" name="coupon"
											placeholder="Coupon Code">

										<div class="flex-c-m stext-101 cl2 size-118 bg8 bor13 hov-btn3 p-lr-15 trans-04 pointer m-tb-5">
											<button type="submit">Apply coupon</button>
										</div>
									</div>
								</form>
							</section>
							<div class="flex-c-m stext-101 cl2 size-119 bg8 bor13 hov-btn3 p-lr-15 trans-04 pointer m-tb-10">
							<a href="/emptyCart">	Update Cart</a>
							</div>
						</div>
						{{/if}}

					</div>
				</div>

				<div class="col-sm-10 col-lg-7 col-xl-5 m-lr-auto m-b-50">
					<div class="bor10 p-lr-40 p-t-30 p-b-40 m-l-63 m-r-40 m-lr-0-xl p-lr-15-sm">
						<h4 class="mtext-109 cl2 p-b-30">
							Cart Totals
						</h4>

						<div class="flex-w flex-t bor12 p-b-13">
							<div class="size-100">
								<span class="stext-110 cl2 ">
									Subtotal:
								</span>
							</div>

							<div class="size-10">
								<span id="total" class="stext-110 cl2 mx-5 ">
									₹ {{cart.cartTotal}}
								</span>
							</div>
						</div>

						<div class="flex-w flex-t bor12 p-t-15 p-b-30">
							<div class="size-208 w-full-ssm">
								<span class="stext-110 cl2">
									Shipping:
								</span>
							</div>

							<div class="size-209 p-r-18 p-r-0-sm w-full-ssm">
								<p class="stext-111 cl6 p-t-2 mx-4 text-success">
									Free
								</p>
							</div>

							{{#if cart.totalAfterDiscount}}
							<div class="flex-w flex-t bor12 p-t-15 p-b-30">
								<div class="size-208 w-full-ssm">
									<span class="stext-110 cl2 text-success text-bold">
										Discount
									</span>
								</div>

								<div class="size-209 p-r-18 p-r-0-sm w-full-ssm">
									<p class="stext-111 cl6 p-t-2 mx-4 text-success">
										10%
									</p>
								</div>

								<div class="flex-w flex-t p-t-27 p-b-33">
									<div class="size-100">
										<span class="stext-101 cl2 mx-5">
											Total Price: <span id="discounted price">₹ {{cart.totalAfterDiscount}}</span>
										</span>
									</div>

									{{else}}


									<div class="flex-w flex-t p-t-27 p-b-33">
										<div class="size-100">
											<span class="stext-101 cl2 mx-5">
												Total: <span id="cartTotal"> ₹ {{cart.cartTotal}}</span>
											</span>
										</div>

										{{/if}}


										{{#if err}}
										<p class="text-center fw-bold" style="color: rgb(190, 0, 0)">{{message}}</p>
										{{/if}}
										<div class="size-209 my-6 p-t-1">
											<span class="mtext-110 text-center cl2">
												{{#each outOfStock}}
												{{this}}
												{{/each}}
											</span>
										</div>
									</div>

									<a href="/checkout"><button
											class="flex-c-m stext-101 cl0 size-116 bg3 bor14 hov-btn3 p-lr-15 trans-04 pointer">
											Proceed to Checkout
										</button></a>
								</div>
							</div>
						</div>
					</div>
				</div>
				{{else}}
				<div class="col-lg-10 col-xl-7 m-lr-auto m-b-50">
					<img src="/images/empty-cart.svg" alt="IMG ">
					<p class="text-center text-dark fw-bold"> Its look like Cart is empty add Something ... </p>
				</div>


				{{/if}}





				<!-- Back to top -->
				<div class="btn-back-to-top" id="myBtn">
					<span class="symbol-btn-back-to-top">
						<i class="zmdi zmdi-chevron-up"></i>
					</span>
				</div>
				<script>
					function changeQuantity(cartId, prodId, count) {
						let quantity = parseInt(document.getElementById(prodId).innerHTML)
						let cartTotal = parseInt(document.getElementById("total").innerHTML)
						count = parseInt(count)
						$.ajax({
							url: '/change-product-quantity',

							data: {
								cartId: cartId,
								prodId: prodId,
								count: count,
								quantity: quantity

							},
							method: 'post',
							success: (response) => {
								console.log("respo", response)
								if (!response) {
									alert("quantity cant be less than 1")

								} else {
									document.getElementById(prodId).innerHTML = quantity + count
									document.getElementById("total").innerHTML = response.cartTotal
									if (response.totalAfterDiscount) {
										document.getElementById("discounted price").innerHTML = response.totalAfterDiscount
									}
									document.getElementById("cartTotal").innerHTML = response.cartTotal
								}
							}
						})
					}

				</script>


				<!--===============================================================================================-->
				<script src="/vendor/jquery/jquery-3.2.1.min.js"></script>
				<!--===============================================================================================-->
				<script src="/vendor/animsition/js/animsition.min.js"></script>
				<!--===============================================================================================-->
				<script src="/vendor/bootstrap/js/popper.js"></script>
				<script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
				<!--===============================================================================================-->
				<script src="/vendor/select2/select2.min.js"></script>
				<script>
					$(".js-select2").each(function () {
						$(this).select2({
							minimumResultsForSearch: 20,
							dropdownParent: $(this).next('.dropDownSelect2')
						});
					})
				</script>
				<!--===============================================================================================-->
				<script src="/vendor/MagnificPopup/jquery.magnific-popup.min.js"></script>
				<!--===============================================================================================-->
				<script src="/vendor/perfect-scrollbar/perfect-scrollbar.min.js"></script>
				<script>
					$('.js-pscroll').each(function () {
						$(this).css('position', 'relative');
						$(this).css('overflow', 'hidden');
						var ps = new PerfectScrollbar(this, {
							wheelSpeed: 1,
							scrollingThreshold: 1000,
							wheelPropagation: false,
						});

						$(window).on('resize', function () {
							ps.update();
						})
					});
				</script>
				<!--===============================================================================================-->
				<script src="/js/main.js"></script>

</body>

</html>