<style>
  .form-control {

    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 0.9375rem;
    font-weight: 400;
    line-height: 1.5;
    color: #151515;
    background-color: #f2f2f2;

    border: 1px solid #ecf0f2;


    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }

    {
      {
      !-- form {
        background-color: rgb(255, 255, 255);
      }

      label {
        font-color: rgb(0, 0, 0);
      }

      input {
        color: antiquewhite;
      }

      --
    }
  }

  .container-fluid {
    background-color: rgb(222, 222, 222);
    display: flex;
    justify-content: center;
    align-items: center;

  }

  textarea {


    border: solid;
    background-color: aqua;
  }

  .add-product {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8vh;
  }

  .productlist {
    width: 20vh;
    position: relative;
    margin-right: 20px;
    cursor: pointer;
  }

  .productlist img {
    width: 100%;
    padding-left: 2vh;
  }
</style>

<div class="page-wrapper">
  <div class="container">
    <div class=" text-center mt-5 ">

      <h1> address</h1>


    </div>


    <div class="row ">
      <div class="col-lg-7 mx-auto">
        <div class="card mt-2 mx-auto p-4 ">
          <div class="card-body ">

            <div class="container">
              {{#if category}}
              <form id="contact-form" role="form" action="/admin/category/{{category._id}}" method="post">
                <div class="controls">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group">
                        <label for="form_name">Category name</label>
                        {{#if error}}
                        <p class="text-center fw-bold" style="color: rgb(190, 0, 0)">{{message}}</p>
                        {{/if}}
                        <input id="form_name" type="text" name="name" class="form-control" value="{{category.name}}"
                          required="required" data-error="Firstname is required.">

                      </div>

                    </div>
                    <div class="col-md-12 text-center">
                      <button type="submit" class="btn btn-success mt-5"> Submit</button>
                    </div>
                  </div>
                </div>
              </form>

              {{else}}



              <form id="contact-form" role="form" action="/editAddress" method="post">

                <div class="controls">

                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="form_name">Firstname</label>
                        <input id="form_name" type="text" name="firstname" class="form-control"
                          value="{{address.firstname }}" required="required" data-error="Firstname is required.">

                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="form_name">lastname</label>
                        <input id="form_name" type="text" name="lastname" class="form-control"
                          value="{{address.lastname }}" required="required" data-error="Firstname is required.">

                      </div>
                    </div>


                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group">
                        <label for="form_price">Phone</label>
                        <input id="form_number" type="number" name="phone" class="form-control"
                          value="{{address.phone}}" required="required" data-error="Valid phone is required.">

                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="form-group">
                        <label for="form_name">Email Address(Optional)</label>
                        <input id="form_name" type="text" name="email" class="form-control" value="{{address.email }}"
                          data-error="Firstname is required.">

                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="form_name">State</label>
                        <input id="form_name" type="text" name="state" class="form-control" value="{{address.state }}"
                          required="required" data-error="Firstname is required.">

                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="form_name">locality</label>
                        <input id="form_name" type="text" name="locality" class="form-control"
                          value="{{address.locality}}" required="required" data-error="Firstname is required.">

                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="form_name">City/village/Town</label>
                        <input id="form_name" type="text" name="city" class="form-control" value="{{address.city }}"
                          required="required" data-error="Firstname is required.">

                      </div>
                    </div>

                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="form_pin">Pincode</label>
                        <input id="form_number" type="number" name="pincode" class="form-control"
                          value="{{address.pincode }}" required="required" data-error="Valid Quantity is required.">

                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group">
                        <label for="form_message">Address</label>
                        <textarea id="form_message" name="address" class="form-control" rows="4" required="required"
                          value="{{address.address}}" data-error="Please, leave us a message."></textarea>
                      </div>

                    </div>
                    <input type="hidden" name="id" value="{{address.id}}">
                    {{!-- {{/each}} --}}
                    <div class="col-md-12 text-center">


                      <button type="submit" class="btn btn-success mt-5"> Submit</button>

                    </div>

                  </div>

                </div>
              </form>
              {{/if}}

            </div>
          </div>


        </div>
        <!-- /.8 -->

      </div>
      <!-- /.row-->

    </div>
  </div>