{{!-- <style>
  .container {
    max-width: 960px;
  }

  .lh-condensed {
    line-height: 1.25;
  }
</style> --}}
{{!-- < class="container">
  <div class="py-5 ">

    <h2>Checkout form</h2>

  </div> --}}

  <div class="row">
    <div class="col-md-4 order-md-2 mb-4">
      <div class="create-ac-content bg-light-gray padding-20px-all">
        <h4 class="text-capitalize mb-3" style="font-weight: bold; color: rgb(212, 83, 83);">Select an Address</h4>
        <form id="checkout-form" class="needs-validation">
          <div class="row">
            <div class="col-sm-12 col-md-6 mb-3">
              <div class="address-box border rounded p-3">
                <div class="manage-address">
                  <p><strong>Sratrg</strong></p>
                  <p>9866766</p>
                  <p>asfdsfgsfgs</p>
                  <p>PIN:6798989</p>
                </div>
                <div class="form-check">
                  <input type="radio" value="{{this.id}} " name="address" id="address-radio" required>
                  <label class="form-check-label" for="address-radio">Select this address</label>
                </div>
              </div>
            </div>
          </div>
          <div class="text-center">
            <a href="/addAddrsincheckout" class="btn btn-dark rounded-4">Add Address</a>
          </div>
        </form>
      </div>
    </div>
    <div class="col-md-6 order-md-6 mb-4">
      <h4 class="d-flex justify-content-between align-items-center mb-3">
        <span class="text-muted">Your cart</span>
        <span class="badge badge-secondary badge-pill">3</span>
      </h4>
      <ul class="list-group mb-3 sticky-top">
        {{#each cart.products}}
        <li class="list-group-item d-flex justify-content-between lh-condensed">
          <div>
            <h6 class="my-0">{{this.product.name}}</h6>
            <small class="text-muted">{{this.product.description}}</small>
          </div>
          <span class="text-muted">{{this.product.price}}</span>
        </li>
        {{/each}}
        <li class="list-group-item d-flex justify-content-between lh-condensed">
          <div>
            <h6 class="my-0">Second product</h6>
            <small class="text-muted">Brief description</small>
          </div>
          <span class="text-muted">$8</span>
        </li>

        <li class="list-group-item d-flex justify-content-between bg-light">
          <div class="text-success">
            <h6 class="my-0">Promo code</h6>
            <small>HOLI</small>
          </div>
          <span class="text-success">-10%</span>
        </li>
        {{#if cart.totalAfterDiscount}}
        <li class="list-group-item d-flex justify-content-between">
          <span>Total Price</span>
          <strong>{{cart.totalAfterDiscount}}</strong>
        </li>
        {{else}}
        <li class="list-group-item d-flex justify-content-between">
          <span>Total Price</span>
          <strong>{{cart.cartTotal}}</strong>
        </li>
        {{/if}}
      </ul>
      {{#unless cart.totalAfterDiscount}}
      <form class="card p-2">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Promo code">

          <div class="input-group-append">
            <button type="submit" class="btn btn-secondary">Redeem</button>
          </div>
        </div>

      </form>
    </div>
  </div>
  <script>
    $("#checkout-form").submit((e) => {
      e.preventDefault()
      $.ajax({
        url: '/cash-order',
        method: 'post',
        data: $('#checkout-form').serialize(),
        success: (response) => {

          if (!response) {
            location.href = '/orderPlaced'
          } else {
            razorpaypayment(response)
          }
        }

      })

      function razorpaypayment(order) {
        var options = {
          "key": "rzp_test_9dkcXL2B2Z4Ctj", // Enter the Key ID generated from the Dashboard
          "amount": order.amount, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
          "currency": "INR",
          "name": "Sarathdev",
          "description": "Test Transaction",
          "image": "https://example.com/your_logo",
          "order_id": order.id, //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
          "handler": function (response) {

            verifyPayment(response, order)
          },
          "prefill": {
            "name": "Sarathdev",
            "email": "gaurav.kumar@example.com",
            "contact": "9400154674"
          },
          "notes": {
            "address": "Razorpay Corporate Office"
          },
          "theme": {
            "color": "#3399cc"
          }
        };
        var rzp1 = new Razorpay(options);
        rzp1.open();
      }

    })
    function verifyPayment(payment, order) {

      $.ajax({
        url: '/verify-payment',
        data: {
          payment,
          order
        },
        method: 'post',
        success: (response) => {
          console.log("resp", response)
          if (response.status) {
            location.href = '/orderPlaced'
          } else {
            alert("payment Failed")
          }
        }

      })
    } 
  </script>